@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Open-Sans";
    src: url("../fonts/openSans/OpenSans-LightItalic.ttf");
}