:root{
    --jaune:#d0bb4f;
    --vert:#12c757;
    --white:white;
    --black:#111111;
    --lightyellow:#f0d057;
    
}
*{
    box-sizing: border-box;
}

.container .background{
    width: 100%;
    height: 588px;
    background-image: url(/assets/img/header.jpeg);
    background-size: cover;
    background-position-y: 80%;
    background-position-x: 20%;


    
}

.headerFluid h1{
    margin-top: 15%;
    margin-left: 20%;
    color:var(--white);
    font-family: 'Open-Sans';
    
}
.headerFluid p{
    color:var(--white);
    font-family: 'Open-Sans';
    line-height: 30px;
    text-transform: uppercase;
    
}

.button .btn{
    width: 281px;
    height:52px;
    border-radius: 50px;
    color:var(--white);
    font-family: 'Robotobold';
    text-transform: uppercase;
    font-size:1.2rem;
    border: none;
    background-color: var(--vert);
}


.button .btn2{
    width: 281px;
    height: 52px;
    border-radius: 50px;
    color:var(--black);
    font-size:1.2rem;
    font-family: 'Robotobold';
    border:none;  
    text-transform: uppercase;  
    background-color: var(--white);
}
.button .btn2:hover{
    background-color:rgb(90, 177, 254) ;
    color:var(--white);
}

.container .salade{
    width: 100%;
    height: 588px;
}
.container .heatly{
    width: 100%;
    height: 588px;
    background-color: var(--lightyellow);
}

.heatly h1{
    margin-top: 15%;
    margin-left: 15%;
    padding: 5%;
    color:var(--white);
    font-family: 'Open-Sans';
    
}
.heatly p{
    color:var(--white);
    padding: 2%;
    margin-left: 15%;
    font-family: 'Open-Sans';
    line-height: 30px;
    text-transform: uppercase;
    
}
.heatly button{
    width: 281px;
    height: 52px;
    margin-top: 10%;
    margin-left: 25%;
    border-radius: 50px;
    color:var(--white);
    font-size:1.2rem;
    font-family: 'Robotobold';
    border:none;  
    text-transform: uppercase;   
    background-color: var(--vert);
}